div {
    align-content: center;
    margin: 0;
}

body {
    margin: 0;
    background-color: darkgray;
}

#circle {
    width: 100%;
    margin: 0;
}

#desk {
    width: 20%;
    margin: 100px 60px;
    border: 20px solid dimgray ;
    border-radius: 50%;
}

#graphic {
    width: 20%;
    margin: 100px 60px;
    border: 20px solid dimgray ;
    border-radius: 50%;
}

#man {
    width: 20%;
    margin: 100px 60px;
    border: 20px solid dimgray ;
    border-radius: 50%;
}